
body{
    background-color: black;
}

.NavBar {
    padding: 10px ; /* Espaçamento interno superior e inferior */
    text-align: center;
  }
  .video{
    margin-left: 30%;
  }

  #comentáriopessoa{
    text-align: center;
    color: aliceblue;
    margin-top: 4%;
  }




  .NavBar a {
    font-size: 150%;
    display: inline-block; /* Transforma os links em blocos para aplicar espaçamento */
    padding: 15px 25px; /* Espaçamento interno */
    text-decoration: none; /* Remove a decoração do link */
    color: white; /* Cor do texto */
    background-color: #5d18dc;/* Cor de fundo dos links */
    border-radius: 20px;
  }
 
  .NavBar a:hover {
    background-color: #5d18dc; /* Cor de fundo ao passar o mouse sobre o link */
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
    box-shadow: #5d18dc 0px 7px 29px 0px;
  }
 
  #Apresentação {
    text-align: left;
    margin-top: 10%;
    margin-left: 30%;
    font-size: 550%;
    color: white;
  }
